.payment-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
    padding: 36px;
    overflow: hidden;
    border-radius: 32px;
    background:linear-gradient(
        180deg,
        #222530,
        #17191f
    );
}

.payment-content h1,
.payment-content p {
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
}

.payment-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: 
        url('../../public/hero-bg.svg')
        no-repeat
        left;
    background-size: cover;
    opacity: 0.95;
}

.payment-header span {
    display: flex;
    align-items: center;
    height: 48px;
    width: auto;
    padding: 10px 18px;
    z-index: 2;
    font-family: "Poppins", sans-serif;
    font-size: .82rem;
    letter-spacing: .08em;
    border-radius: 30px;
    background: #4D4A5E;
    color: #B3C1D6;
    font-weight: 700;
    text-transform: uppercase;
}


.payment-content {
    position: relative;
    z-index: 2;
    max-width: 620px;
    min-width: 0;
    width: 100%;
}

.payment-content h1 {
    color: #D9D9D9;
    font-size: 3.2rem;
    line-height: 1;
    margin-bottom: 16px;
}

.payment-content p {
    max-width: 430px;
    line-height: 1.7;
    color: #D9D9D9;
    opacity: .7;
}

.payment-back {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, .08);
    color: #D9D9D9;
    font-size: 1.4rem;
    transition: .25s;
    cursor: pointer;
}

.payment-back:hover {
    background: rgba(255, 255, 255, .15);
    transform: translateY(2px);
}

@media (max-width: 768px) {
    .payment-header {
        padding: 24px;
        gap: 12px;
        
    }

    .payment-header span {
        font-size: .55rem;
    }

    .payment-content h1 {
        font-size: 2.2rem;
    }

    .payment-content p {
        font-size: .85rem;
    }

    .payment-back {
        width: 48px;
        height: 48px;
    }

    .payment-header::before {
        background-position: top;
        background-size: 800px;
    }
}


@media(max-width: 600px) {
    .payment-header {
        padding: 20px;
    }

    .payment-content h1 {
        font-size: 1.8rem;
    }

    .payment-content p {
        font-size: .8rem;
        max-width: 100%;
    }

    .payment-header span {
        text-wrap: nowrap;
        padding: 8px 16px;
    }
}